---
const { date = "", eventname = "", eventinfo = "", cardimage = "", alttext = "" } = Astro.props;
import { Image } from "astro:assets";
import calendar from "../assets/images/calendar.svg";
---

<article id="eventscard" class="rounded-3xl bg-pillowtalk-500 overflow-clip">
  <div class="mb-10 md:mb-0">
    <img src={cardimage} alt={alttext} class="object-cover aspect-[3/2] w-full" />
    <div class="px-6 pt-6 pb-8 text-afterhours-500">
      <div class="flex gap-2 items-center"><Image src={calendar} alt="a plus icon" class="w-[25px] h-auto" /><p class="text-afterhours-400 font-medium">{date}</p></div>
      <h3 class="pb-2 pt-1 text-body font-bold font-montserrat">{eventname}</h3>
      <p>{eventinfo}</p>
    </div>
  </div>
</article>
